
<h1>Student Login</h1>
<h1>Parent Login</h1>

<button class="login_choice"><%= link_to 'Teacher Index', teachers_path %></button>
<%= link_to 'Student Index', students_path %>
<%= link_to 'Parent Index', parents_path %>
 <button> danai </button>
